{% extends "base.html" %}

{% block main %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<title>Contact Form</title>
<body>
    <div class="contact">
        <div class="contain">
            <h1>Contact Form</h1>
        <form action="" method="POST" enctype="multipart/form-data">
        <input name="action" value="submit" type="hidden"> From:<br>
        <input name="name" size="50" type="text"><br> To:<br>
        <input name="name" size="50" type="text"><br> Subject:<br>
        <input name="email" size="50" type="text"><br> Mail:<br>
        <textarea name="message" rows="10" cols="50">
        </textarea><br>
        <input class="button" value="Send" type="submit">
        </form>
        </div>
    </div>
    <div class="foot"></div>

</body>

</html

{% endblock %}